uploading the client file

In [ ]:
import pandas as pd
df= pd.read_csv('/content/area.csv')
df

    area
0   1000
1   1500
2   2000
3   2500
4   3500
5   4250
6   5000
7   5450
8   6000
9   6750
10  8000
11  8440
12  9000
13  9500

#Activate the ML model

In [ ]:
import pickle
with open('/content/rspurammodel','rb')as f:
  reg=pickle.load(f)

#Predict the data

In [ ]:
reg.predict([[2500]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([21100000.])

In [ ]:
reg.predict(df)

array([1.00000e+06, 7.70000e+06, 1.44000e+07, 2.11000e+07, 3.45000e+07,
       4.45500e+07, 5.46000e+07, 6.06300e+07, 6.80000e+07, 7.80500e+07,
       9.48000e+07, 1.00696e+08, 1.08200e+08, 1.14900e+08])

In [ ]:
pricedf=reg.predict(df)

In [ ]:
df['price']=pricedf

In [ ]:
df

    area
0   1000
1   1500
2   2000
3   2500
4   3500
5   4250
6   5000
7   5450
8   6000
9   6750
10  8000
11  8440
12  9000
13  9500

In [ ]:
df.to_csv('clientoput.csv',index=False)